*{
    box-sizing: border-box;
    
}
:root{
    --nav-bg-color: #006eff;
    --text-color: white;
    --main-bg-color:#192441;
}
body{
    background-color: var(--main-bg-color);
    font-family: 'Vazirmatn','Noto Sans Arabic', sans-serif;
}
header{
    display: block;
    color: var(--text-color);
    text-align: right;
    font-size: 24pt;
    padding-right: 8px;

}
/* structuring border*/
/* div,footer,nav,main,p,h2{
    border: solid 1px blue;
} */
nav{
    position: sticky;
    top: 2px;
    clear: both;
    margin: 10xp;
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bg-color);
    z-index: 2;
    border-radius: 3px;
    width: 98vw;
}
nav ul, footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
nav li{
    float: right;
}
li a{
    display: inline-block; 
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: var(--text-color);
}
nav li a:hover{
    background-color: rgb(60, 69, 77);
    color: white;
    font-weight: 600;
    border-bottom: solid 3px white;
}
main{
    display: block;
    text-align: center;
}

#hero_section{
    position: relative;
    top: 20px;
    width: 98vw;
    height: 150vh;
    background: url("./img/sergey-koznov.jpg") no-repeat center;
    background-size: cover;
    border-radius: 8px;
    opacity: 0.5;

}
#overlay{
    background-color: wheat;
}
#description{
    background-color: rgb(29, 29, 29);
    position: absolute;
    height: 100%;
    width: 40%;
    padding-top: 15%;
    color: white;
    font-size: 18pt;
    mix-blend-mode: lighten;
    text-shadow: 16px 16px 10px rgb(0, 0, 0);
    border-radius: 10px;
}
#feature_section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit,minmax(250px, 1fr));
    column-gap: 3.8vw;
    padding: 10px;
    align-items: center;
    color: white;
}
#feature_section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 40vh;
    margin-top: 5vw;
    font-size: 13pt;
    font-weight: normal;
    line-height: 1.5;
    padding-top: 10%;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: solid 1px rgb(253, 252, 252);
    border-radius: 16px;

    box-shadow: 1px 1px 6px 1px rgb(122, 122, 124);
    transition: background-color 0.7s,box-shadow 0.5s;
    /* box-shadow: ; */
}

#feature_section div:hover{
    background-color: var(--nav-bg-color);
    box-shadow: 3px 3px 10px 1px rgb(40, 40, 42);
    
}
#feature1{
    grid-column: 1/2;
    grid-row: 1/2;

}
#feature2{
    grid-column: 2/3;
    grid-row: 1/2;
}#feature3{
    grid-column: 1/2;
    grid-row: 2/3;
}#feature4{
    grid-column: 2/3;
    grid-row: 2/3;
}

hr{
    border: none;
    height: 0.5px;
    background: #e6e4e37a;
    margin: 40px 40px 0 0;
}


footer{
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
    width: 95vw;
    position: relative;
    top: 10px;
    color: var(--text-color);
    font-size: 12pt;

    /* border-top: solid burlywood 3px; */
}
#footer_bottom{
    grid-row: 2/3;
    grid-column: 1/4;
}
/*Structuring borders*/
/* footer, footer img, footer p, footer div{
    border: solid 2px blue;
} */
footer .contact_items{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2px;
    margin-top: 1px;
    margin-bottom: 8px;
    background-color: rgb(65, 67, 75);
    border-radius: 8px;
}
footer .contact_info, .contact_info{
    margin: 10px;
}

footer .social_media{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding: 6px;
    margin-top: 10px;
}
footer .footer_navs{
    display: flex;
    justify-content: right;
    margin-right: 2vw;
    transition: font-size 0.5s;
}
footer .footer_navs:hover{
    font-size: 18pt;
}
footer .social_media_links{
    margin-top: 10px;
}
footer img,.contactpage_info img{
    border: none;
    height: 20px;
    width: 20px;
    margin: 3px;
    margin-top: 6px;
}
/*Contact page css*/
.contact_page_main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit,minmax(250px, 1fr));
    margin-top: 20px;   
    column-gap: 10px;
    color: var(--text-color);
}
.contactpage_info{
    border-radius: 8px;
    text-decoration: none;
    border: solid blue 3px;
}
.contact_page_main .contact_box_items{
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--text-color);
    text-decoration: none;
    margin: 20px;
}
/* .contact_page_main #right_contact_box{
    display: flex;
    align-items: center;
    justify-content: center;
} */