*{
    box-sizing: border-box;
    
}
:root{
    --nav-bg-color: #006eff;
    --text-color: white;
    --main-bg-color:#192441;
}
body{
    background-color: var(--main-bg-color);
}
header{
    display: block;
    color: var(--text-color);
    /* background-color: rgb(164, 218, 243); */
    text-align: right;
    font-size: 24pt;
    padding-right: 8px;

}
/*structuring border*/
header,div,main,footer,nav{
    border: solid 1px blue;
}
nav{
    position: sticky;
    top: 2px;
    clear: both;
    margin: 10xp;
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bg-color);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
li{
    float: right;
}
li a{
    display: inline-block; 
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: var(--text-color);
}
li a:hover{
    background-color: rgb(60, 69, 77);
    color: white;
    font-weight: 600;
    border-bottom: solid 3px white;
}
main{
    display: block;
    text-align: center;
    height: 150vh;
}
footer{
    padding: 10px;
    text-align: center;
    display: block;
    width: 95vw;
    position: relative;
    top: 10px;
    color: var(--text-color);
}
#hero_section_image{
    width: 95vw;
    height: 50vw;
}
#hero_section{
    display: grid;
    grid-template-columns: auto auto;
    background: url("./img/red_head_missiles.jpg") no-repeat center/cover;

}
#overlay{
    /* position: absolute; */
    inset: 0;
    background: rgba(255, 0, 0, 0.5);
    grid-column: 1/3;

}
/* #ilustration img{
    width: 100%;
    opacity: 0.8;
} */
#description{
    width: 30vw;
    align-items: center;
    padding-top: 10%;
    grid-column: 1/2;
}
#description{
    color: var(--text-color);
}
